body {
  background-color: #0f1014;
  color: rgb(255, 255, 255);
}

.max-center {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.header-content {
  display: flex;
  flex-direction: column;
  height: 100px; 
  border: 1px none white;
  justify-content: center;
  
   
}

.header-content-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px none white;
  
}

.hero {
  position: relative;
  min-height: 500px;
  background-position: top center;
  background-size: cover;
  display:flex;
  align-items: flex-end;
}

.hero-content {
  max-width: 70%;
  padding-bottom: 100px;
}

.hero-title {
  font-size: 72px;
  margin: 0px;
}

.youtube-container {
  position:absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  background-color: #0f1014;
  color: white;
  outline: none;
  border: 1px solid white;
  padding: 10px 15px;
  cursor: pointer;

}

.button--search {
  padding: 0 10px;
  margin-left: 10px;
}

.button--logout {
  padding: 0 10px;
}

.button--close {
  position: absolute;
  z-index: 25;
  bottom: 30px;
  left: 15px;
}

.container {
  display: grid;
  grid-auto-rows: 1fr;
  gap: 15px;
  grid-template-columns:  repeat(6, 1fr) ;
  padding: 15px;
  
  background-color: #000000;

}

.movie-cover {
  width: 100%;
}

.movie-placeholder {
  min-height: 225px;
  
  background-color: white;
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;

}

input[type='text']{
  color: #0f1014;
}

